<!-- <p>edit-category works!</p>
<div class="container">
 <input type="text" [(ngModel)]='categoryName' name="categoryName">
</div>
<img src="{{categoryImageUrl}}" alt=""> -->
<div class="container">
   <form >
     <p class="form-group">
       <input type="text" [(ngModel)]="categoryName"  class="form-control" name="categoryName" id="">
     </p>
     <p class="form-group">
      <img src="{{categoryImage}}" alt="">
       <input type="file" (change)="selectImage($event)" name="categoryImage" class="form-control"  name="categoryName" id="">
     </p>
     <p class="form-group">
         <button type="submit" (click)="EditCategoryHtml()" class="btn btn-primary">
           EditCategory
         </button>
     </p>
   </form>
   </div>